.header {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 100;
    top: 0;
    box-shadow: 0 0 15px 0 #181818;
    background: #FFFFFF;

    &__content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 200px;
        height: 30px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 768px) {
    .header {
        height: 50px;

        &__logo {
            width: 85px;
            height: 15px;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}