.sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        text-transform: uppercase;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__error-message {
        width: 100%;
        margin-top: 5px;
        text-align: left;
        font-size: 12px;
        color: red;
    }
}