.modal {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    background: rgba(196, 196, 196, 0.7);

    &--hidden {
        display: none;
    }

    &__close-modal {
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        border-radius: 50%;
        
        &:hover {
            background: rgba(230, 230, 230, 0.5);
        }
    }

    &__content {
        max-width: 500px;
        width: 100%;
        min-height: 90%;
        margin: 100px auto 0;
        padding: 50px 50px 15px 50px;
        border-radius: 20px;
        position: relative;
        background: #FFFFFF;
    }
}