.input {
    width: 100%;

    input {
        width: 100%;
        height: 40px;
        padding: 10px;
        margin-top: 5px;
        border-radius: 8px;

        &::placeholder {
            font-size: 12px;
            opacity: 0.3;
            color: #181818;
        }
    }

    &__primary {
        input {
            border: 1px solid rgb(0, 158, 197);
        }
    }

    &__not-error {
        span {
            display: none;
        }
    }

    &__error {
        input {
            border: 1px solid red;
        }

        span {
            font-size: 12px;
            color: red;
        }
    }

    &__label {
        font-size: 12px;
    }
}