.button {
    display: flex;

    button {
        border-radius: 12px;
        cursor: pointer;
    }
    
    &__primary {
        border: 1px solid #009ec5;
        background: rgba(234, 240, 253, 0.5);
        
        button {
            background: red;
        }
        
        &:hover {
            background: rgba(234, 240, 253, 1);
        }
    }
}