.all-news{
    margin-top: 50px;

    &__new-post {
        cursor: pointer;
        margin-bottom: 50px;
    }

    &__news {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .all-news{
        margin-top: 80px;
    
        &__favourites {
            opacity: 1;
        }
    }   
}