.not-found {
    margin-top: 70px;

    &__img {
        width: 100%;
        height: 200px;
        background: url("https://pugofka.com/upload/iblock/bb0/404_error.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    h1 {
        width: 100%;
        text-align: center;
        cursor: pointer;
        color: white;
        background: rgb(255, 84, 17);
    }
}