.slider {
    width: 100%;
    margin-top: 100px;
    
    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__window {
        margin: 0 30px;
        display: flex;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 0 15px 0 rgb(196, 196, 196);
    }
}

@media (max-width: 768px) {
    .slider {
        &__window {
            max-width: 320px !important;
            width: 100% !important;
        }
    }
}