.arrow-slider {
    display: flex;
    align-items: center;

    &__arrow-left, &__arrow-right {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        opacity: 0.7;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: #181818;

        &:hover {
            opacity: 1;
        }
    }
}

@media (max-width: 768px) {
    .arrow-slider {
        width: 100%;
        justify-content: center;
        position: relative;

        &__arrow-right {
            right: 25px;
        }

        &__arrow-left {
            left: 25px;
        }
    
        &__arrow-left, &__arrow-right {
            position: absolute;
            bottom: -40px;
        }
    }   
}