.add-post {
    width: fit-content;
    margin: 70px auto 0 auto;
    overflow: hidden;
    position: relative;

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__favourites {
        width: fit-content;
        padding: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background: rgb(230, 230, 230);
        }

        p {
            margin-right: 10px;
        }
    }

    &__input_data {
        transition: all 0.3s ease;
    }

    &__form {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .add-new-post {
        margin-top: 50px;
    }
}