.news-main {
    width: 100%;
    margin-top: 70px;

    &__items {
        width: 100%;
        display: flex;
    }

    &__favourites {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        cursor: pointer;
    }

    &__item {
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        transform: translateX(-200%);
        transition: all 0.5s ease;
        min-width: 100%;

        &:hover {
            .news-main__favourites {
                opacity: 1;
            }
        }
    }

    &__news-logo {
        width: 200px;
        height: 150px;
        margin: 0 auto;
    }

    &__title, &__subtitle {
        margin-top: 20px;
        text-align: center;
        font-size: 40px;
    }

    &__subtitle {
        margin-top: 0;
        font-size: 25px;
    }

    &__description, &__text {
        margin-top: 10px;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__text {
        margin-top: 20px;
        -webkit-line-clamp: 3;
    }
}

@media (max-width: 768px) {
    .news-main {
        margin-top: 50px;
    
        &__items {
            justify-content: left;
        }
    
        &__favourites {
            opacity: 1;
        }
    
        &__title, &__subtitle {
            font-size: 25px;
        }
    
        &__subtitle {
            margin-top: 10px;
            font-size: 15px;
        }
    
        &__text {
            -webkit-line-clamp: 2;
        }
    }   
}