.navigation-circles {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__circle {
        width: 13px;
        height: 13px;
        margin: 10px 2px 0 2px;
        border-radius: 50%;
        opacity: 0.7;
        cursor: pointer;
        background: #181818;

        &:hover {
            width: 15px;
            height: 15px;
            opacity: 1;
            transition: all 0.3s;
        }

        &--active {
            width: 15px;
            height: 15px;
            opacity: 1;
        }
    }
}