.info-news {
    width: 100%;
    margin-top: 100px;

    &__back {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;
        background: rgb(214, 214, 214);

        &:hover {
            background: rgb(238, 238, 238);
        }
    }

    &__img {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    &__title {
        margin-top: 25px;
        text-align: center;
        font-size: 35px;
    }

    &__subtitle {
        margin-top: 25px;
        font-size: 20px;
        font-weight: bold;
    }

    &__text {
        margin-top: 25px;
    }

    &__gallery, &__more-text {
        margin-top: 25px;
    }
}

@media (max-width: 768px) {
    .info-news {
        &__img {
            width: 100%;
            margin: 50px auto 0 auto;

            img {
                width: 100%;   
            }
        }

        &__gallery {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }   
}