.card {
    width: 350px;
    height: 550px;
    padding: 10px 10px 100px 10px;
    margin: 10px;
    position: relative;
    border-radius: 8px;
    border: 1px solid #009ec5;

    &:hover {
        .card__favourites, .card__unfavourites {
            opacity: 1;
        }
    }

    &__favourites, &__unfavourites {
        position: absolute;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }

    &__favourites {
        right: 0;
    }

    &__unfavourites {
        left: 0;
        transform: rotate(45deg);
    }

    &__title {
        text-align: center;
        font-size: 30px;
        padding-bottom: 20px;
    }

    &__img {
        max-width: 300px;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        margin-top: 35px;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    &__btn {
        width: 100%;
        position: absolute;
        bottom: 20px;
        left: 0;
    }
}

@media (max-width: 768px) {
    .card{
        &__favourites {
            opacity: 1;
        }
    }   
}