.auth {
    display: flex;

    &__icon {
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        background: rgb(214, 214, 214);

        &:hover {
            background: rgb(238, 238, 238);
        }
    }

    &__name {
        min-height: 100%;
        margin-right: 20px;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .auth {
        &__icon {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 25%;

            &>div {
                width: 30px;
                height: 30px;
            }
        }
    
        &__name {
            font-size: 12px;
        }
    }
}